*.pyc
*.spec
*.exe
*.db
*.db-journal
uploads/
build/
dist/
/agent/win32/x64/Debug
/agent/win32/Agent.VC.VC.opendb
/agent/win32/Release
/agent/win32/Agent/x64
/agent/win32/Agent/Release
/agent/win32/.vs/Agent/v14
/agent/win32/Agent/Debug
/agent/win32/Debug
